<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <style>
    .grid-container {
      display: grid;
      width: 200px;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
    }
    a {
      text-decoration: none;
    }
  </style>
  <script>
    $(function() {
        $(".apicall").click(function(event) {
    event.preventDefault();
    $.ajax({
      url: $(this).attr("href"),
      type: "GET",
      crossDomain:true,
      dataType: "json",
      success: function(data) {
        $("#result").html(data);
      }
    });
  });
    });
  </script>
</head>
<body>
  <h1>Welcome  {{firstname}}</h1>
  <div class="grid-container">
    <div></div>
    <div><a class="apicall" href="http://192.168.1.28:4444/forward">↑</a></div>
    <div></div>
    <div><a class="apicall" href="http://192.168.1.28:4444/left">←</a></div>
    <div> </div>
    <div><a class="apicall" href="http://192.168.1.28:4444/right">→</a></div>
    <div> </div>
    <div><a class="apicall" href="http://192.168.1.28:4444/backward">↓</a></div>
    <div> </div>
</div>
<span>LOG:</span><div id="result"></div>
<br/><br/><br/><br/>
</body>
</html>
